@{
	var partialName = string.Empty;

	if (ViewBag.IsSession is not null)
	{
		partialName = "_SessionNavPartial";
	}
	else
	{
		partialName = User.Identity.IsAuthenticated ? "_AuthenticatedNavPartial" : "_UnAuthenticatedNavPartial";
	}
}

<nav class="green darken-2">
	<div class="nav-wrapper">
		<a asp-area="" asp-controller="Home" asp-action="Index" class="brand-logo">
			<ul>
				<li><img class="logo" src="~/favicon.ico" height="40" width="40" /></li>
				<li><div class="logo-text">WORKLAB</div></li>
			</ul>
		</a>
		<partial name="@partialName" />
	</div>
</nav>