@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
	@*<div style="height:600px; width:100%; border:1px black solid;">
		</div>*@
	<br />
	<div class="row container">
		<div class="col s4 animate__animated animate__zoomIn animate__delay-2s">
			<center>
				<img src="~/images/document_icon.svg" height="250" width="250" />
				<h3 class="container text-black">Edit Documents</h3>
				<hr />
				<h4>Collaborate with each other on documents in real time</h4>

			</center>
		</div>

		<div class="col s4 animate__animated animate__zoomIn animate__delay-2s">
			<center>
				<img src="~/images/spreadsheet_icon2.svg" height="250" width="250" />
				<h3 class="container text-black">Edit Spreasheets</h3>
				<hr />
				<h4>Collaborate with each other on spreadsheets in real time</h4>
			</center>
		</div>
		<div class="col s4 animate__animated animate__zoomIn animate__delay-2s">
			<center>
				<img src="~/images/videocall2.svg" height="250" width="250" />
				<h3 class="container text-black">Video <br />Chat</h3>

				<hr />
				<h4>Video Chat with each other while collaborating on your work</h4>
			</center>
		</div>
	</div>
</div>