<div id="main-document-editor">
    <div class="document-editor">
        <div class="toolbar-container"></div>
        <div class="content-container">
            <div id="editor">
            </div>
        </div>
    </div>
</div>