@model string
<!--========================== Participants list and Actions panel ==============================================-->
<ul id="actions-panel" class="sidenav sidenav-fixed animate__animated animate__fadeIn">
	<li><a class="subheader"><i class="material-icons grey-text">people</i>Participants (<span id="no-of-participants"></span>)</a></li>

	<li class="search-participant">
		<div class="input-field">
			<input id="participant-search" placeholder="Search" type="text" spellcheck="false" autocomplete="off">
		</div>
	</li>

	<li>
		<div class="participant-list">
			<ul></ul>
		</div>
	</li>

	<li><div class="divider"></div></li>

	<li><a class="subheader">Actions</a></li>

	<li>
		<div class="actions-list">
			<ul>
				<li><a class="waves-effect modal-trigger" href="#share-modal"><i class="material-icons">share</i>Share</a></li>
				<li><a class="waves-effect" id="chat-box"><i class="material-icons">chat</i>Chat</a></li>
				<li><a class="waves-effect" id="btn_Download"><i class="material-icons">file_download</i>Download</a></li>

				<li>
					<a id="camera" class="waves-effect">
						<i class="material-icons">videocam_off</i>Camera
						<div id="center-div" class="hide">
							<div class="bubble">
								<span class="bubble-outer-dot">
									<span class="bubble-inner-dot"></span>
								</span>
							</div>
						</div>
					</a>
				</li>

				<li>
					<a id="microphone" class="waves-effect">
						<i class="material-icons">mic_off</i>Microphone
						<div id="center-div" class="hide">
							<div class="bubble">
								<span class="bubble-outer-dot">
									<span class="bubble-inner-dot"></span>
								</span>
							</div>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</li>
</ul>
<!--=============================================================================================================-->
<!--======================= Document/SpreadSheet ===============================-->
<partial name="@Model" />
<!--===================================================================-->
<!--================================= Video call panel =====================================================-->
<ul id="video-panel" class="sidenav sidenav-fixed animate__animated animate__fadeIn grey lighten-5">
	<li><a class="subheader"><i class="material-icons grey-text">voice_chat</i>Video Call</a></li>

	<li>
		<div class="video-list">
			<ul>
			</ul>
		</div>
	</li>
</ul>
<!--========================================================================================================-->
<!--============================ Share Modal =========================================-->
<div id="share-modal" class="modal">
	<div class="modal-content">
		<h4 class="grey-text">Invite Others</h4>
		<h6>Anyone with access to this session key will join you in real time.</h6>

		<br />

		<h6 class="grey-text">Share this session key <i class="material-icons left">arrow_downward</i></h6>

		<div id="session-key-chip" class="chip" style="font-size: medium; margin-top: 1%;"></div>

		<span id="copy-session-key" style="cursor: pointer;"><i class="material-icons blue-text">content_copy</i></span>
	</div>
	<div class="modal-footer">
		<a class="modal-close waves-effect waves-light btn red lighten-1"><i class="material-icons left">close</i> Close</a>
	</div>
</div>
<!--==================================================================================-->
<!--===================================== Chat Box ===============================================-->
<div id="chat-box-markup" style="display: none;">
	<div class="row clearfix">
		<div class="col l12">
			<div class="card chat-app">
				<div class="chat">
					<div class="chat-history grey lighten-5">
						<ul></ul>
					</div>
					<div class="chat-message clearfix">
						<form>
							<div class="input-field">
								<input id="chat-message-input" type="text" placeholder="Message" autocomplete="off">
								<button class="btn-small waves-effect waves-light blue-grey darken-1 right"><i class="material-icons">send</i></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--====================================================================================-->