@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
}

<div class="row valign-wrapper">
    <form asp-area="Users" asp-controller="Account" asp-action="ForgotPassword" method="post" class="col l6 m8 s12 offset-l3 offset-m2">

        <div class="row">
            <div class="col l6 m8 s12 offset-l3">
                <img class="animate__animated animate__fadeIn" src="/images/forgot-password.svg" height="150" width="150" />
            </div>
        </div>

        <div class="row">
            <div class="col l6 m8 s12 offset-l3">
                <h5 class="grey-text animate__animated animate__fadeIn">Reset Password</h5>
            </div>
        </div>

        <div class="row">
            <div class="col l6 m8 s12 offset-l3">
                <p class="grey-text animate__animated animate__fadeIn">Enter your user account's verified email address and we will send you a password reset link.</p>
            </div>
        </div>

        <div class="animate__animated animate__fadeIn">
            <div class="row" style="margin-top: 2%;">
                <div class="input-field col l6 m12 s12 offset-l3">
                    <i class="material-icons prefix">email</i>
                    <input asp-for="EmailAddress" class="validate" autofocus autocomplete="off" spellcheck="false" />
                    <label for="EmailAddress">Email Address</label>
                    <span asp-validation-for="EmailAddress" class="red-text right"></span>
                </div>
            </div>

            <div class="row">
                <div class="col l6 m12 s12 offset-l3">
                    <button type="submit" class="btn waves-effect waves-light right green darken-1"><i class="material-icons left">send</i><span class="left">Send</span></button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}