@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}

<div class="row valign-wrapper">
    <form asp-area="Users" asp-controller="Account" asp-action="ResetPassword" method="post" class="col l6 m8 s12 offset-l3 offset-m2">

        <input hidden asp-for="Token" />

        <div class="row">
            <div class="col l6 m8 s12 offset-l3">
                <img class="animate__animated animate__fadeIn" src="/images/forgot-password.svg" height="150" width="150" />
            </div>
        </div>

        <div class="row">
            <div class="col l6 m8 s12 offset-l3">
                <h5 class="grey-text animate__animated animate__fadeIn">Change Password</h5>
            </div>
        </div>

        <div class="animate__animated animate__fadeIn">
            <div class="row" style="margin-top: 2%;">
                <div class="input-field col l6 m12 s12 offset-l3">
                    <i class="material-icons prefix">vpn_key</i>
                    <input asp-for="Password" class="validate" autofocus />
                    <label for="Password">Password</label>
                    <span asp-validation-for="Password" class="red-text right"></span>
                </div>
            </div>

            <div class="row">
                <div class="input-field col l6 m12 s12 offset-l3">
                    <i class="material-icons prefix">vpn_key</i>
                    <input asp-for="ConfirmPassword" class="validate" />
                    <label for="ConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="ConfirmPassword" class="red-text right"></span>
                </div>
            </div>

            <div class="row">
                <div class="col l6 m12 s12 offset-l3">
                    <button type="submit" class="btn waves-effect waves-light right green darken-1"><i class="material-icons left">change_history</i><span class="left">Change Password</span></button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}