@model SignInViewModel

@{
    ViewData["Title"] = "Sign in";

    bool isSignInFailed = ViewData.ModelState.Keys.Contains("SignInFailed");

    var returnUrl = Context.Request.Query["ReturnUrl"];
}

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
}

@if (isSignInFailed)
{   string errorMessage = ViewData.ModelState["SignInFailed"].Errors.FirstOrDefault().ErrorMessage;

    <a hidden id="signin-failed" data-errorMessage="@errorMessage"></a>
}

<div class="row valign-wrapper">
    <form asp-area="Users" asp-controller="Account" asp-action="SignIn" asp-route-returnUrl="@returnUrl" method="post" class="col l6 m8 s12 offset-l3 offset-m2">
        <div class="row">
            <div class="col l6 m8 s12 offset-l4">
                <img class="animate__animated animate__fadeIn" src="/images/SignIn.svg" height="200" width="200" />
            </div>
        </div>

        <div class="animate__animated animate__fadeIn">
            <div class="row" style="margin-top: 1%;">
                <div class="input-field col l6 m12 s12 offset-l3">
                    <i class="material-icons prefix">email</i>
                    <input asp-for="EmailAddress" class="validate" autofocus autocomplete="off" spellcheck="false" />
                    <label for="EmailAddress">Email Address</label>
                    <span asp-validation-for="EmailAddress" class="red-text right"></span>
                </div>
            </div>

            <div class="row">
                <div class="input-field col l6 m12 s12 offset-l3">
                    <i class="material-icons prefix">vpn_key</i>
                    <input asp-for="Password" class="validate" autocomplete="off" spellcheck="false" />
                    <label for="Password">Password</label>
                    <span asp-validation-for="Password" class="red-text right"></span>
                    <div class="col l6 offset-l1">
                        <label>
                            <input id="show-password" type="checkbox" />
                            <span>Show password</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 3%;">
                <div class="col l6 m12 s12 offset-l3">
                    <a asp-area="Users" asp-controller="Account" asp-action="ForgotPassword">Forgot password?</a>
                    <button type="submit" class="btn waves-effect waves-light right green darken-1"><i class="material-icons left">send</i><span class="left">log in</span></button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="/js/Account/signIn.js"></script>
}